*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

body{
    width: 100%;
    height: 100%;
}

.container{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.container__main{

    height: 100%;

    display: grid;
    grid-template-rows: 10% 80% 10%;

    background-image: url("../img/lines.png");
    background-position: 0%;
    background-size: 50%;
}

@media(max-width:600px){
    .container__main{
        background-size: 100%;
    }
}

.container__integration
{
    background-color: black;

    display: flex;
    align-items: center;
}

.container__integration .integration{
    padding-left: 40px;
    text-align: center;
}

.container__integration .integration__title{
    color: white;
    font-size: 16px;
}

.container__registration{
    display: flex;
    justify-content: center;
    text-align: center;
    
    margin-top: 100px;
}

.container__registration .form{
    padding-bottom: 8%;
}

.container__registration .container__button .button{
    border: 2px solid black;
    background-color: black;
    border-radius: 6px;


    width: 250px;
    height: 40px;

    color: white;

    cursor:pointer;
}

.container__registration .container__button .button:hover{
    color: black;
    background-color: white;
    border: 2px solid white;
    transition: 0.8s;
}

.container__registration .container__input{
    width: 250px;
    height: 40px;
    text-align: center;

    border:2px solid white;
    border-radius: 6px;
}

.container__registration .container__paragraph #login-color{
    color: rgb(104, 143, 216);
}

.container__logo{
    display: flex;
    align-items: center;
}

.container__asembly{
    margin-left: 5%;
}