/*imports*/
@import "nullstyle.scss";

/*variables*/
$COLOR_BLACK:#090C0C;
$COLOR_LOGIN:rgb(104, 143, 216);
$COLOR_LOGIN_HOVER:rgb(121, 162, 238);
$COLOR_LOGO:#7bc9c0;

/*main wrapper*/
.wrapper{
    
    /*set size of wrapper*/
    height: 100%;

    /*option display*/
    display: flex;
    flex-direction: column;

    /*set font option*/
    color: $COLOR_BLACK;
    font: 700 1.3em 'Montserrat', sans-serif;
}

/*block header*/
.wrapper__header{

    /*padding block*/
    padding:20px;

    /*canceled*/
    //background-color: whitesmoke;
}

.header__item{
    .e{
        fill: $COLOR_LOGO;  
    }
    .d{
        fill: $COLOR_BLACK;
        opacity: 0.15;
    }
}

/*block section*/
.wrapper__section{

    /*set height for block*/
    max-height: auto;

    /*padding block*/
    padding:10px 10px 40px 10px;

    /*option display*/
    flex: 1 1 auto;
    display: flex;
    justify-content: center;

    /*setting background image*/

    /*canceled*/
    //background-image: url("../../img/circle.svg");
    background-size: cover;
    background-position:center;
    object-fit: fill;
}

/*block form {.section}*/
.wrapper__form{

    /*alignment elements*/
    text-align: center;
    
    /*margin elements from top*/
    margin-top: 100px;

    /*block element*/
    .form__element{
        /*padding for element*/
        padding-top: 20px;
    }

    /*block element*/
    .element__input{
        /*alignment elements input*/
        text-align: center;

        /*set background color for input elements*/
        background-color: aliceblue;

        /*padding block*/
        padding: 10px 40px 10px 40px;
        border-radius: 6px;
    }
    
    /*block element*/
    .element__button{
        /*setting size for button*/
        padding:10px 60px 10px 60px;
        /*setting background color for button*/
        background-color: $COLOR_LOGO;
        /*setting radius for button*/
        border-radius: 6px;

        font-weight: 700;

    }

    /*block element*/
    .element__button:hover{

        /*setting color for button*/
        background-color: #82d8ce;
        color: white;

        /*set transition animation for button*/
        transition: 0.8s;
        /*option shadow*/
        text-shadow: 0px 0px 8px whitesmoke;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.267);
    }

    /*block element*/
    .element__subtitle{
        font-size: 0.8em;

        .element__link{
            color: $COLOR_LOGIN;
        }
        .element__link:hover{
            transition: 0.8s;

            color:$COLOR_LOGIN_HOVER;
            text-shadow: 0px 0px 0.5px $COLOR_LOGIN_HOVER;
        }
    }   
}   

/*block footer*/
.wrapper__footer{

    /*set size*/
    height: 145px;

    /*option display*/
    display: flex;
    align-items: center;

    /*set background color*/
    background-color: $COLOR_BLACK;

    & .footer__item{
        /*set font color for title*/
        color: white;

        /*set position elements*/
        text-align: center;
        padding: 0 20px 0 20px;
    }
}

/*media settings*/
@media(max-width:380px){
    .wrapper__footer{
        justify-content: center;
    }
}